{% extends 'base.html' %}

{% block content %}
<h1>{{ crypto.name }}:</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change 24h</th>
            <th>Volume 24h</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ crypto.id }}</td>
            <td>{{crypto.symbol}}</td>
            <td>{{crypto.name}}</td>
            <td>{{crypto.price}}</td>
            <td>{{crypto.change_24h}}</td>
            <td>{{crypto.volume_24h}}</td>
        </tr>
    </tbody>
</table>
{% if articles %}
  <h2>Последние новости:</h2>
  <ul>
    {% for article in articles %}
      <li>{{ article.title }}</li>
      <a href="{{ article.url }}">Ссылка на новость</a>
    {% endfor %}
  </ul>
{% endif %}
{% endblock  %}