{% extends 'base.html' %}

{% block content %}
    <h1>Избранное</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Change 24h</th>
                <th>Volume 24h</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for crypto in favorites %}
                <tr>
                    <td>{{ crypto.crypto.id }}</td>
                    <td>{{crypto.crypto.symbol}}</td>
                    <td><a href="{% url 'crypto:crypto_detail' crypto_symbols=crypto.crypto.symbol %}">{{ crypto.crypto.name }}</a></td>
                    <td>{{crypto.crypto.price}}</td>
                    <td>{{crypto.crypto.change_24h}}</td>
                    <td>{{crypto.crypto.volume_24h}}</td>
                    <td>
                    <form action="{% url 'crypto:remove_favorite' crypto.crypto.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn-delete">
                            Удалить из избранного
                        </button>
                    </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет избранных криптовалют</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
